<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
	<section class="container">
			<div class="card bg-light mt-3">
				<div class="card-header bg-light">
					<div class="row">
						<div class="col-7 text-left"><i th:text="${gene.name.toString()}">학명 들어가는 자리</i>&nbsp;
							<small><a th:href="@{|https://www.ncbi.nlm.nih.gov/protein/${gene.ncbiCode}|}"
									th:text="${gene.ncbiCode}">
									NCBI코드 들어가는 자리
									</a>
							</small>
							
						</div>
						<div class="col-5 text-right">
							<a th:href="@{|/list/${gene.ncbiCode}/update|}">수정</a>
							<a href="#">삭제</a>
							<small th:text="${#temporals.format(gene.registerDay, 'yyyy-MM-dd HH:mm')}">등록날짜 들어가는 자리&nbsp;</small>
						</div>
						
					</div>
				</div>
				<div class="card-body">
					<p class="card-text">
						<pre th:text="${gene.dnaSequence}">dna서열 들어가는 자리</pre>
					</p>
				</div> 
			</div>
	</section>	
</div>
</html>